In [3]:
def celsius_fahrenheit():
    # F= (C*9/5) +32
    fahrenheit =(22* (9/5))+32
    print(fahrenheit)
    return fahrenheit

In [4]:
celsius_fahrenheit()

71.6

71.6

In [6]:
def celsius_fahrenheit(C):
    # F= (C*9/5) +32
    fahrenheit =(C* (9/5))+32
    return fahrenheit

In [7]:
celsius_fahrenheit(100)

212.0

In [9]:
#make a fuction that converts fahrenheit to celsius
# C = (F-32) x (5/9)
#all user to specify input fahrenheit
#define a default

In [18]:
def fahrenheit_celsius(F):
    # C = (F-32) x (5/9)
    celsius=(F-32) * (5/9)
    return celsius

In [20]:
fahrenheit_celsius(100)

37.77777777777778

In [21]:
import pandas as pd

In [22]:
dem_health_data = pd.read_csv("Dem_Health_Full.txt",
                              sep="\t")

In [27]:
dem_health_data.head(105)

,County,State,Population_Density,Poverty,Infant_Mortality,Suicide,Total_Births,Total_Deaths
0,Autauga,AL,82,10.4,5.9,16.6,3048.0,1867.0
1,Baldwin,AL,102,10.2,7.1,14.3,5471.0,4388.0
2,Barbour,AL,32,22.1,7.1,10.3,1835.0,1538.0
3,Bibb,AL,35,16.8,9.8,14.8,2801.0,2012.0
4,Blount,AL,86,11.9,9.0,14.4,3318.0,2453.0
5,Bullock,AL,18,26.2,13.3,-1111.1,1604.0,1381.0
6,Butler,AL,27,20.0,5.8,11.9,2874.0,2857.0
7,Calhoun,AL,184,16.4,9.5,13.6,4429.0,3915.0
8,Chambers,AL,59,16.2,7.5,12.8,2271.0,2424.0
9,Cherokee,AL,44,15.2,7.4,17.7,2659.0,2609.0
10,Chilton,AL,60,14.9,10.5,13.3,2671.0,2065.0
11,Choctaw,AL,16,18.7,10.8,9.4,2152.0,1742.0
12,Clarke,AL,22,19.2,7.1,8.9,1984.0,1444.0
13,Clay,AL,23,14.0,10.2,11.2,1748.0,1706.0
14,Cleburne,AL,26,14.0,7.0,30.1,1706.0,1540.0
15,Coffee,AL,67,13.7,2.9,13.1,2762.0,2210.0
16,Colbert,AL,92,14.0,8.2,15.1,3166.0,3087.0
17,Conecuh,AL,16,22.0,14.4,13.2,1872.0,1832.0
18,Coosa,AL,17,13.4,13.9,-1111.1,1273.0,1174.0
19,Covington,AL,36,17.5,6.2,10.7,2247.0,2499.0
20,Crenshaw,AL,23,17.6,11.4,11.2,1745.0,1825.0
21,Cullman,AL,108,13.3,6.9,9.1,4897.0,4405.0
22,Dale,AL,87,15.8,7.9,10.8,3789.0,2259.0
23,Dallas,AL,45,25.0,9.6,8.4,3767.0,2752.0
24,DeKalb,AL,86,15.1,7.7,10.9,4665.0,3326.0
25,Elmore,AL,119,12.5,7.6,8.5,4707.0,2823.0
26,Escambia,AL,40,18.6,12.3,11.0,2519.0,2151.0
27,Etowah,AL,193,15.7,8.7,15.7,3810.0,4020.0
28,Fayette,AL,29,16.1,7.3,12.0,2145.0,2224.0
29,Franklin,AL,48,17.4,11.5,13.8,2169.0,1902.0
...,...,...,...,...,...,...,...,...
75,Haines,AK,1,11.4,NaN,-1111.1,198.0,143.0
76,Juneau,AK,11,7.3,6.9,9.5,2029.0,678.0
77,Kenai Peninsula,AK,3,9.9,6.6,25.2,3178.0,1423.0
78,Ketchikan Gateway,AK,11,8.1,6.4,16.4,1960.0,900.0
79,Kodiak Island,AK,2,8.7,6.9,10.1,2449.0,496.0
80,Lake and Peninsula,AK,0,16.6,NaN,-1111.1,292.0,139.0
81,Matanuska-Susitna,AK,3,10.5,5.4,19.4,4111.0,1492.0
82,Nome,AK,0,17.4,11.2,63.8,2067.0,599.0
83,North Slope,AK,0,11.6,9.5,35.7,1487.0,333.0
84,Northwest Arctic,AK,0,17.0,11.0,67.4,1631.0,394.0
85,Prince of Wales-Outer Ketchikan,AK,1,13.8,9.4,15.9,849.0,251.0
86,Sitka,AK,3,7.7,6.6,16.7,1205.0,483.0
87,Skagway-Hoonah-Angoon,AK,0,11.6,NaN,-1111.1,285.0,161.0
88,Southeast Fairbanks,AK,0,15.7,5.8,33.1,980.0,322.0
89,Valdez-Cordova,AK,0,9.1,5.0,13.1,1315.0,480.0
90,Wade Hampton,AK,0,25.1,10.3,66.5,2158.0,358.0
91,Wrangell-Petersburg,AK,1,8.9,4.1,18.0,826.0,451.0
92,Yakutat,AK,0,10.8,NaN,-1111.1,87.0,44.0
93,Yukon-Koyukuk,AK,0,17.5,6.5,91.3,1211.0,544.0
94,Apache,AZ,6,27.5,8.1,22.2,6317.0,2384.0
95,Cochise,AZ,20,16.3,9.2,18.3,5121.0,3325.0
96,Coconino,AZ,7,15.6,5.6,19.2,9383.0,2809.0
97,Gila,AZ,11,17.1,8.9,21.7,3389.0,3150.0
98,Graham,AZ,7,20.5,6.5,13.9,2301.0,1323.0
99,Greenlee,AZ,4,11.2,6.0,19.9,1314.0,601.0
100,La Paz,AZ,4,17.2,12.0,23.0,2045.0,1954.0
101,Maricopa,AZ,395,12.8,6.4,14.0,171452.0,70409.0
102,Mohave,AZ,14,14.9,6.4,26.2,6386.0,6444.0
103,Navajo,AZ,11,21.4,8.0,26.2,8411.0,3558.0
104,Pima,AZ,101,14.3,7.0,16.2,37459.0,23024.0

In [33]:
def get_urban(df):
    urban = df.loc[df['Population_Density'] >= 1000, 
                   :]
    return urban

def get_urban(df):
    urban = df.loc[df['Population_Density'] >= 1000, 
                   :]
    return urban

In [34]:
urban_counties = get_urban(dem_health_data)

In [35]:
urban_counties.head()

,County,State,Population_Density,Poverty,Infant_Mortality,Suicide,Total_Births,Total_Deaths
184,Alameda,CA,1964,10.7,4.8,7.6,65423.0,29143.0
190,Contra Costa,CA,1414,7.5,4.0,9.4,39653.0,20836.0
202,Los Angeles,CA,2447,17.7,5.4,7.9,457033.0,181018.0
213,Orange,CA,3785,10.6,4.7,7.6,135702.0,51060.0
217,Sacramento,CA,1412,13.7,5.6,10.9,58592.0,28774.0

In [36]:
def get_urban(df, threshold):
    urban = df.loc[df['Population_Density'] >= threshold, 
                   :]
    return urban

In [37]:
urban_counties = get_urban(dem_health_data, 500)

In [38]:
urban_counties.head()

,County,State,Population_Density,Poverty,Infant_Mortality,Suicide,Total_Births,Total_Deaths
36,Jefferson,AL,591,14.4,11.3,11.3,27118.0,21937.0
184,Alameda,CA,1964,10.7,4.8,7.6,65423.0,29143.0
190,Contra Costa,CA,1414,7.5,4.0,9.4,39653.0,20836.0
202,Los Angeles,CA,2447,17.7,5.4,7.9,457033.0,181018.0
213,Orange,CA,3785,10.6,4.7,7.6,135702.0,51060.0

In [45]:
def split_county_by_pop(df, threshold):
    urban = df.loc[df['Population_Density'] >= threshold, 
                   :]
    rural = df.loc[df['Population_Density'] < threshold, 
                   :]
    return [urban, rural]

In [46]:
urban_rural_counties = split_county_by_pop(dem_health_data, 500)

In [57]:
urban_rural_counties[1].dir()

AttributeError: 'DataFrame' object has no attribute 'dir'